<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IsaacTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <IsaacTest.Properties.Settings>
            <setting name="BackgroundColor" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="TextColor" serializeAs="String">
                <value>ControlText</value>
            </setting>
            <setting name="ShowTransformationImages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showguppy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showbeelzebub" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showfunguy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showseraphim" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showbob" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showspun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showmom" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showconjoined" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showleviathan" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showohcrap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showsuperbum" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppWidth" serializeAs="String">
                <value>850</value>
            </setting>
            <setting name="AppHeight" serializeAs="String">
                <value>375</value>
            </setting>
        </IsaacTest.Properties.Settings>
    </userSettings>
</configuration>